*{
    margin: 0;
    padding: 0;
  }
  
  header{
    background-color: #90ccfc;
    text-align: center;
  }
  
  main{
    padding: 15px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  
  main div{
    border: 3px solid black;
    border-radius: 10px;
    padding:20px
  }
  
  .actividad01{
    display: grid;
    justify-content: center;
  }
  
  button{
    background-color:#90ccfc;
    border: 0;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    transition: all .5s;
  }

  button:hover{
    background-color: blue;
  }